[submodule "Dependencies/VoodooGPIO"]
	path = Dependencies/VoodooGPIO
	url = https://github.com/coolstar/VoodooGPIO.git
[submodule "VoodooI2C Satellites/VoodooI2CHID"]
	path = VoodooI2C Satellites/VoodooI2CHID
	url = https://github.com/alexandred/VoodooI2CHID.git
[submodule "VoodooI2C Satellites/VoodooI2CELAN"]
	path = VoodooI2C Satellites/VoodooI2CELAN
	url = https://github.com/kprinssu/VoodooI2CELAN.git
