<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.alexandred.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooI2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOClass</key>
			<string>VoodooI2C</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,9d60</string>
				<string>pci8086,9d61</string>
				<string>pci8086,a160</string>
				<string>pci8086,a161</string>
				<string>INT33C2</string>
				<string>INT33C3</string>
				<string>INT3432</string>
				<string>INT3433</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<string>5000</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Alexandre Daoud. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0</string>
	</dict>
</dict>
</plist>
